<aside class="mt1 mb1">
  <div class="head"><span>продукция</span></div>
  <ul>
    <li><a href="#">Универсальный шаблонсварщика УШС-3 скалибровкой ОТК</a></li>
    <li><a href="#">Универсальный шаблонсварщика УШС-4 скалибровкой ОТК</a></li>
    <li><a href="#">Набор катетомеров сварщика(КМС-3-16) с калибровкой ОТК</a></li>
    <li><a href="#">Набор радиусных шаблонов(Универсальный шаблон сварщикаУШС-2) с калибровкой</a></li>
    <li><a href="#">Универсальный шаблон сварщика УШС-3 с ка­либ­ровкой (сертифицированная мет­ро­логи­чес­кая лаборатория)</a></li>
    <li><a href="#">Универсальный шаблон сварщика УШС-4 с ка­либ­ровкой (сертифицированная мет­ро­логи­чес­кая лаборатория)</a></li>
    <li><a href="#">Универсальный шаблон А.И. Кра­совс­ко­го УШК с ка­либ­ровкой (УШС-1)</a></li>
    <li><a href="#">Набор ка­тето­меров сварщика (КМС-3−16) с ка­либ­ровкой (сертифицированная мет­ро­логи­чес­кая лаборатория)</a></li>
    <li><a href="#">Универсальный шаблон сварщика V-WAC с калибровкой</a></li>
    <li><a href="#">Лента ох­ва­тыва­ющая «UFM» для точного измерения диаметров (циркометр)</a></li>
  </ul>
</aside>